# Framework principal
streamlit==1.38.0
streamlit-mic-recorder==0.0.8

# Manipulación y conexión a datos
pandas==2.2.2
sqlalchemy==2.0.30
pymysql==1.1.0

# Librerías LangChain (versiones estables)
langchain==0.2.14
langchain-community==0.2.11
langchain-openai==0.1.22



# Reconocimiento de voz
SpeechRecognition==3.10.4

